{% extends 'base.html'%} {% block content %}
<div class="container py-5">
  <form action="/article" method="post">
    <div class="mb-4 d-flex flex-column">
      <label> Title </label>
      <input class="form-contol" name="title" placeholder="title" />
    </div>
    <div class="mb-4 d-flex flex-column">
      <label> Content </label>
      <div id="editor"></div>
      <input type="hidden" name="content" id="content" />
    </div>
    <div class="mb-4 d-flex flex-column">
      <lable>Tags</lable>
      <input
        type="text"
        name="tags"
        placeholder="e.g., Python  Flask  Web Development"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create article</button>
  </form>
</div>
<!-- Quill.js JS -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor', {
    theme: 'snow',
  })

  document.querySelector('form').onsubmit = function () {
    document.querySelector('#content').value = quill.root.innerHTML
  }
</script>
{% endblock %}
